<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300;600&display=swap" rel="stylesheet">
    <title>Listan - Musik som rör dig!</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/icon.png')}}">
</head>
<body>
    <div class="container">
        
        <div class="main">
            <div class="login">
                <img src="{{url_for('static', filename='/img/listan.png')}}"/>
                <h1>Upptäck ny musik genom att skapa en anpassad Spotify-spellista baserad på dina favoritlåtar</h1>
                <a href="{{ authorize }}"><img id="login-button" src="{{url_for('static', filename='/img/login.png')}}"/></a>
                <h5>*Vi använder Spotifys säkra inloggning för att ansluta till ditt konto.</h5>
                {% block content %}

                {% endblock content %}
            </div>
            <div id="links">
                <p>Tillverkad av <a href="https://github.com/Flloyden/Listan">Grupp 17</a></p>
                <p>API <a href="#">Dokumentation</a></p>
                <p>Kolla in <a href="https://github.com/Flloyden/Listan">GitHub</a></p>
            </div>
        </div>
        
      </div>
</body>
</html>