<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300;600&display=swap" rel="stylesheet">
    <title>Listan - Färdig</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/img/icon.png')}}">
</head>
<body>
    <div class="container">
        <div class="main">
          <div class="message">
            <h3>voilà</h3>
            <h4>Spellistan har skapats. Trevlig resa!</h4>
          </div>

          <div class="cards-list">
              
            <a href="https://open.spotify.com/playlist/{{ link }}" target="_blank" id="success">
              <div class="card 1">
                <div class="card_image">
                  <img src="{{ url_for('static', filename='/img/spotify-logo.png')}}" /> </div>
                <div class="card_title title-white">
                  <p>Lyssna nu!</p>
                </div>
              </div>
            </a>
            
            <a href="/welcome">
              <div class="card 2">
                <div class="card_image">
                  <img src="{{ url_for('static', filename='/img/home-logo.png')}}" />
                  </div>
                <div class="card_title title-white">
                  <p>Hem</p>
                </div>
              </div>
            </a>

        </div>
      </div>
</body>
</html>